#navbar{
    display: flex;
    align-items: center;
    
}
div{
    display: flex;
    align-items: center;

}

#Citywallpaper{
    width: 230px;
 }

 .search-box{
     position: absolute;
     align-items: left;
     left: 85%;
    border-radius: 40px;
    height: 40px;
    background: radial-gradient(black, transparent);
    bottom: 91%;

}
